<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Single Entry</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
         <div id="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="new_entry.html">New</a></li>
                <li><a href="edit_entry.html">Edit</a></li>
            </ul>
        </div>

        <h1>Day 11 - Response/Request Messages</h1>
        <p>
        Today I put the response / request functions of the http server into classes.

        I was really happy with the results and I think it was a useful exercise to do.

        My next goal is to use the properties method in classes. 

        Also I learned today that is the server has a print line in it's implementation 
        it causes the whole system to hang.  It took my a long time to figure that out.
        </p>
    </body>
</html>