{% extends "layout.jinja2" %}
{% block body %}


<form>
    Title:<br>
    <input type="text" name="title" id="title" value = "Day 11 - Response/Request Messages"><br>
    Journal:<br>
    <textarea rows="25" cols="100" name="journal" id = "journal">
        "Today I put the response / request functions of the http server into classes.

        I was really happy with the results and I think it was a useful exercise to do.

        My next goal is to use the properties method in classes. 

        Also I learned today that is the server has a print line in it's implementation 
        it causes the whole system to hang.  It took my a long time to figure that out.">
    </textarea>
    <br>
    <input type="submit" value="Submit">
</form>

{% endblock %}