<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Main</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/journal/new-entry">New</a></li>
                <li><a href="/journal/11">View</a></li>
                <li><a href="/journal/11/edit-entry">Edit</a></li>
            </ul>
        </div>
        <h1>A listing of my journal entries</h1>
        <p><a href = "/journal/11">Day 11 - Response/Request Messages</a></p>
        <p>Day 12 - Py.test --cov</p>
        <p>Day 13 - Step through code</p>
    </body>
</html>