<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Main</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="new_entry.html">New</a></li>
                <li><a href="edit_entry.html">Edit</a></li>
            </ul>
        </div>
        <h1>A listing of my journal entries</h1>
        <p><a href = "day11.html">Day 11 - Response/Request Messages</a></p>
        <p>Day 12 - Py.test --cov</p>
        <p>Day 13 - Step through code</p>
    </body>
</html>