<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <!--link rel="stylesheet" href="../static/style.css"-->
        <link rel="stylesheet" href="{{ request.static_path('myproject:static/style.css') }}">
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/journal/new-entry">New</a></li>
                <li><a href="/journal/11">View</a></li>
            </ul>
        </div>
        <h1>My Journal Entries</h1>
        <section id="content">
            {% block body %}{% endblock %}
        </section>
        <footer>
            <p>Created in the Code Fellows 401 Python Program</p>
        </footer>
    </body>
</html>