<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New Entry</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="new_entry.html">New</a></li>
                <li><a href="edit_entry.html">Edit</a></li>
            </ul>
        </div>
        <form>
            Title:<br>
            <input type="text" name="title"><br>
            Journal:<br>
            <textarea rows="25" cols="100" name="journal" id = "journal">
                Enter Submission
            </textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>